<div class="artistSearchResults">

    <% artistsInfo.forEach(artistsInfo => { %>   
        <p> <%- artistsInfo.name %> </p>
        <img src = <%- 'artistsInfo.images[0].url' %> />
        <a href="/albums/<%- artistsInfo.id %>">View Albums</a>
       <% }) %>
</div>

