<div class="Homepage">
<h3>Home</h3>
<form method="GET" action="/artist-search">
    <label>
        <input type="text" name="artist" placeholder="Search an artist"/>
    </label>
    <button>Search</button>
</form>
</div>